#Main {
    /* width: 100%;; */
    padding:4px;
    border: 6px solid black;
    background-color:#5CDB95;
    margin-left: auto;
    margin-right: auto;
    fit content: height: 500px; width: 1200px; ;;
}
h1{
    color: #05386B;
    text-align: center;
    font-size:350%;


}
h2{
    font-size: 200%;
    color:#05386B;
}
p{
    color:#05386B;
    font-size: 250%;
}
p{
    font-size: medium;
    font
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="field"],
select,option{
    width: 90%;
    background-position-x: right;
    padding:5px;
    border:2px  solid black;
    align:center;
}
input[type="submit"]{
    width:100%;
    color:white;
    padding:15px;
    border: none;
    background-color: #05386B;
}
input[type="submit"]:hover{
    background-color: #659DBD;
}
